.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.tar
*.o
*.tm
*.c-
*.mem
*.expected
TestData/*.png
c-
lex.yy.c
parser.tab.h
parser.tab.c
parser.out
